.article {
  margin-top: 15em;
  padding: 0 1.2em;
  line-height: 1.6;
  max-width: 750px;
  margin: 5em auto;
  font-size: 1.1rem;
  text-align: left;
  font-family: "Merriweather", serif;
  transition:all .2 ease;
}
.article p, .article li {
  margin-top: 1em;
  margin-bottom: 1em;
  
}
.article::first-letter{
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
.settings-btns{
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width:900px){
    .article{
        font-size: 1.2rem;
    }
}